:root{
       --font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
       box-sizing: border-box;
       user-select: none;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
}

body,
html {
       
       padding: 0;
}

.header {
       text-align: center;
       font-weight: bold;
       font-size: 3rem;
       font-family: var(--font-family); 
}

input {
       font-family: var(--font-family);
       font-size: 17px;
       margin: 5px 43%;
       width: 100px;
       border-radius: 5px;
       background-color: dodgerblue;
       cursor: pointer;
       padding: 5px;
}

input:hover {
       background-color: firebrick;
       font-size: 2rem;
       width: 8vw;
}

#numberOfClicks {
       color: darksalmon;
}

.overAllContainer {
       text-align: center;
}

.container {
       display: flex;
       margin: 0 20%;
}

.card {
       display: block;
       width: clamp(70%,45vh,150vw);
       min-height: 20vh;
       background-color: orangered;
       margin: 0.5vw;
       cursor: pointer;
       padding: 5vh;
       font-size: 3rem;
       text-align: center;
       
}

.card:hover {
       background-color: grey;
}

#selectedCard {
       opacity: 0.5;
}